/* Default Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-family: 'Cormorant-Garamond', serif;
    font-size: 2rem;
}

h2 {
    font-family: 'Cormorant-Garamond', serif;
    font-size: 1.5rem;
}

strong {
    font-weight: 700;
}

/* Responsive Sizing and Grid Formatting */

header {
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

header h1 {
    flex-grow: 1;
}

nav a {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
}

nav a:hover {
    background-color: lightslategray;
    border-radius: 5px;
}

nav a:visited {
    color: black;
}

main {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px 15px;
    place-items: start / center;
}

footer {
    width: 80%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

footer p {
    text-align: center;
}

/* Tablet */

@media only screen and (max-width: 992px) {

    header {
        width: 100%;
    }

    main {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 10px;
    }

    footer {
        width: 100%;
    }

}

/* Mobile */

@media only screen and (max-width: 768px) {

    main {
        grid-template-columns: repeat(1, 1fr);

    }

}